.task-card{
  border-radius: 7px;
  border:1px solid #000;
  padding: 4px;
  color: #000;
  background-color: whitesmoke;
  margin:0.5rem;
  min-height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 5px 5px 5px lightgray;
}
.task-card-completed{
  border-radius: 7px;
  border:1px solid gray;
  padding: 4px;
  color: #000;
  background-color: rgb(215, 244, 212);
  margin:0.5rem;
  min-height: 90px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgb(215, 240, 215);
}
.id-label{
  display: flex;
  margin-bottom: 0.3rem;
  justify-content: flex-start;
  padding-left: 0.5rem;
}
.name-label{
  display: flex;
  margin: 0;
  justify-content: center;
  font-weight: bold;
}
.desc-label{
  display: flex;
  justify-content: center;
  padding-bottom: 0.3rem;
}
.buttons-container{
  display: flex;
  justify-content: space-evenly;
}
.delete-button{
  cursor: pointer;
  border: 0.1rem solid whitesmoke;
  border-radius: 7px;
  padding: 0.4rem;
  margin: 0.2rem;
  min-width: 40%;
  transition: all 0.25s ease;
}
.delete-button:hover{
  color:whitesmoke;
  border:0.1rem solid rgb(242, 152, 152);
  background-color: rgb(242, 152, 152);
}
.delete-button-completed{
  cursor: pointer;
  border:0.1rem solid rgb(255, 185, 185);
  background-color: rgb(255, 185, 185);
  border-radius: 7px;
  padding: 0.4rem;
  margin: 0.2rem;
  min-width: 40%;
  transition: all 0.25s ease;
}
.delete-button-completed:hover{
  border:0.1rem solid rgb(250, 117, 117);
  background-color: rgb(250, 117, 117);
}
.secondary-button{
  cursor: pointer;
  border: 0.1rem solid whitesmoke;
  border-radius: 7px;
  padding: 0.4rem;
  margin: 0.2rem;
  min-width: 50%;
  transition: all 0.25s ease;
}
.secondary-button:hover{
  color:white;
  border:0.1rem solid rgb(121, 197, 238);
  background-color: rgb(121, 197, 238);;
}
.secondary-button-disabled{
  border: none;
  border-radius: 7px;
  padding: 0.4rem;
  margin: 0.2rem;
  min-width: 50%;
}
