.container{
  background-color: #F5F7FA;
  border-radius: 7px;
  width: 400px;
  height: 780px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid gray;
  margin-left:7px;
  scrollbar-width: none;
  overflow-y: scroll;
}
.column-header{
  color:#175aac;
  margin-bottom: 0;
}
.container::-webkit-scrollbar {
  display: none;
}
.task-list{
  padding: 3px;
  background-color: #F5F7FA;
  flex-grow: 1;
  min-height: 70vh;
}