.kanban-board{
  display: flex;
  flex-direction: column;
}
.column-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.field-group-container{
  display: flex;
  justify-content: space-between;
}
.style-header{
  text-align: center;
  margin: 0;
  margin-bottom:10px;
  color:#175aac;
}
.style-input{
  margin: 1rem 0.3rem;
  width: calc(33% - 10px);
  padding: 1rem;
  border: none;
  border-radius: 7px;
  outline-color: #5d9eec;;
}
.primary-button{
  border: none;
  background-color: #2677da;
  color: whitesmoke;
  margin: 1rem 2rem;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.25s ease;
  width: calc(33% - 10px);
}
.primary-button:hover{
  background-color: #5d9eec;
}